.option{border:2px solid #5fa9dc;background-color:rgba(255, 255, 255, 0.5);backdrop-filter:blur(10px);padding:10px 20px;border-radius:20px;cursor:pointer;position:relative;}
.filter_window{position:absolute;right:100px;top:250px;width:300px;height:200px;flex-direction:column;gap:5px;align-items:start;padding:0 10px;overflow:scroll;>p{color:#934AF7;-webkit-text-stroke:0.3px #000;cursor:pointer;};>p:hover{color:#FBB800;};>div{align-self:end;font-family:'Exo 2';font-size:16px;cursor:pointer};border:1px solid #5fa9dc;border-radius:20px;background-color:rgba(255,255,255,0.5);backdrop-filter:blur(10px);z-index:4;}
.filter_window::-webkit-scrollbar{display:none;}
input,textarea{margin:0;padding:0;border:none;outline:none;background:none;font:inherit;color:inherit;line-height:normal;}
a{text-decoration:none;text-decoration-line:none;}
h1{margin:0;}
.sky{>img{width:2736px;height:797px;}}
.sky{position:absolute;width:fit-content;height:fit-content;bottom:-40px;left:-400px;animation:sky-animation 20s infinite ease-in-out;}
.clouds{position:absolute;width:2100px;height:565px;top:10px;left:-200px;}
.cloud_container{position:relative;width:100%;height:100%;}
.cloud1{position:absolute;top:88.44px;left:96.75px;animation:cloud-animation-90px 20s infinite ease-in-out;}
.cloud2{position:absolute;top:78px;right:576.45px;animation:cloud-animation-120px 20s infinite ease-in-out;}
.cloud3{position:absolute;top:426.58px;left:20.75px;animation:cloud-animation-120px 20s infinite ease-in-out;}
.cloud4{position:absolute;bottom:0;right:50.41px;animation:cloud-animation-45px 20s infinite ease-in-out;}
.mountains{>img{width:1266px;height:975px;}}
.background{width:100%;height:100vh;overflow:hidden;position:relative;z-index:1;}
.nature{>img{width:2111px;height:946px;margin-bottom:-200px;}}
.nature{display:flex;justify-content:center;align-items:end;width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
#background_container{position:fixed;width:100vw;height:100vh;top:0;left:0;}
@media screen and (min-width:1800px){.background{display:none;}}
.ideas_container{display:flex;flex-direction:column;gap:15px;width:100%;}
.ideas{background-color:#B3DAF6;width:100%;display:flex;flex-direction:column;align-items:center;padding-top:50px;gap:50px;box-sizing:border-box;min-height:100vh;}
.ideas::-webkit-scrollbar{display:none;}
.create_idea_container{position:fixed;align-self:center;top:25vh;flex-direction:column;align-items:center;justify-content:center;padding:20px;border:solid 1px #fff;border-radius:36px;background:rgba(255,255,255,0.30);box-shadow:0 0 3px 20px rgba(255,255,255,0.3);z-index:5;}
.create_idea_background{position:fixed;z-index:5;background-color:rgba(255,255,255,0.3);height:100vh;width:100vw;backdrop-filter:blur(10px);margin-top:-70px;}
.create_idea_form{flex-direction:column;gap:20px;width:560px;font-family:'Bainsley',sans-serif;position:relative;
>button{border:1px solid #000;background-color:inherit;font-size:20px;font-family:inherit;border-radius:50px;align-self:center;width:fit-content;padding:5px 15px;background-color:#FBB800;}}
.create_idea_button{border-radius:50px;padding:20px;font-size:20px;background-color:#FBB800;font-family:'Unbounded',sans-serif;}
.ideas_title{font-size:3rem;font-family:'Exo 2';width:100%;text-align:center;}
.ideas_header{width:900px;z-index:3;display:flex;flex-direction:column;gap:10px;}
.idea_tag_prop{color:#934AF7;-webkit-text-stroke:0.3px #000;}
.search_container{width:100%;display:flex;justify-content:space-between;}
.ideas_search{border-radius:50px;padding:20px;font-size:20px;background-color:rgba(255,255,255,0.3);font-family:'Unbounded',sans-serif;backdrop-filter:blur(10px);border:1px solid #000;}
#ideas_container{width:900px;z-index:3;}
.idea_block{display:flex;flex-direction:row;justify-content:space-between;align-items:center;width:100%;cursor:default;}
.ideas_block{padding:30px;box-sizing:border-box; border:1px solid #000;border-radius:32px;backdrop-filter:blur(10px);background-color:rgba(255,255,255,0.3);}
.idea_block_button{display:flex;flex-direction:row;font-size:24px;align-items:center;font-family:'Unbounded',sans-serif;gap:5px;cursor:pointer;}
.idea_buttons{display:flex;gap:5px;}
.idea_button_img{width:40px;height:40px;}
.idea_view{font-size:16px;display:flex;font-family:'Unbounded',sans-serif;align-items:center;}
#filter_container{display:flex;gap:30px;justify-content:end;}
.tab_filter{border-radius:50px;padding:10px 15px;font-size:18px;background-color:white;font-family:'Unbounded',sans-serif;border:solid 2px #5fa9dc;cursor:pointer;}
.active_tab{background-color:#FBB800;border:solid 2px #000;}
.idea_name_create{width:fit-content;max-width:100%;align-self:center;overflow:scroll;font-size:18px;text-align:center;color:#000;border:1px solid #B3DAF6;padding:10px 5px;border-radius:50px;}
.idea_desc_create{resize:none;border:1px solid #B3DAF6;padding:6px;border-radius:12px;height:95px;}
.idea_desc_create::-webkit-scrollbar {display:none;}
.idea_tag_create{border:1px solid #B3DAF6;padding:6px;border-radius:12px;height:fit-content;width:100%;}
.character_limit{width:100%;text-align:end;font-size:12px;color:#000;}
.idea_name_create::placeholder{color:#000;}
.cross{position:absolute;top:0;right:0;width:30px;height:30px;>img{width:100%;height:100%;}}
.selected_tag{width:fit-content;border:1px solid #000;background-color: rgba(255, 255, 255, 0.5);backdrop-filter:blur(10px);border-radius:20px;font-size:20px;font-family:'Unbounded',sans-serif;padding:0 10px;box-sizing:border-box;}
@media screen and (max-width:1000px) {
    .ideas_header{width:700px;}
    .ideas{padding:70px 0;}
    .create_idea_button , .ideas_search{font-size:17px;padding:14px;border:solid 1px}
    .tab_filter{padding:5px 10px;font-size:16px;border-width:1px;}
    .selected_tag{font-size:17px;padding:0 5px;}
    .option{padding:5px 10px;>img{transform:scale(0.8)};border-width:1px;}
    #ideas_container{width:700px;}
    .ideas_container{gap:10px;}
    .ideas_block{padding:25px;}
    .filter_window{top:240px;right:7vh;}
}
@media screen and (max-width:700px) {
    .ideas_header{width:425px;}
    .ideas_title{font-size:2.5em;}
    .create_idea_button , .ideas_search{font-size:15px;padding:7px;border:solid 0.7px}
    .tab_filter{padding:6px 6px;font-size:11px;border-width:0.7px;}
    .selected_tag{font-size:11px;padding:0 5px;}
    .option{padding:3px 6px;>img{transform:scale(0.6)};border-width:0.7px;}
    #filter_container{gap:5px;}
    #ideas_container{width:80%;min-width:425px}
    .ideas_container{gap:10px;}
    .ideas_block{padding:15px 20px;}
    .idea_buttons{flex-direction:column;align-items:center;gap:1px;}
    .idea_button_img{width:25px;height:25px;}
    .idea_block_button{font-size:16px;}
    .filter_window{top:210px;width:230px;right:3vh;height:180px;}
}
@media screen and (max-width:600px) {
    .create_idea_form{width:300px;}
    .create_idea_container{padding:10px;border-radius:0;top:100px;}
}
@media screen and (max-width:425px) {
    .ideas_header , #ideas_container{width:100%;}.create_idea_button , .ideas_search{font-size:12px;padding:5px;border-radius:10px;}
    #ideas_container{min-width:0}
    .ideas_title{font-size:2em;}
    .tab_filter{padding:2px 3px;display:flex;justify-content:center;align-items:center;border-radius:10px;text-align:center;}
    .selected_tag{font-size:10px;padding:0 3px;border-radius:10px;}
    .option{>img{transform:scale(0.5);}border-radius:10px;}
    #filter_container{justify-content:space-between;}
}