a{text-decoration:none;color:inherit;}
button:hover{cursor:pointer;}
.sky{>img{width:2736px;height:797px;}}
.sky{position:absolute;width:fit-content;height:fit-content;bottom:-40px;left:-400px;animation:sky-animation 20s infinite ease-in-out;}
.clouds{position:absolute;width:2100px;height:565px;top:10px;left:-200px;}
.cloud_container{position:relative;width:100%;height:100%;}
.cloud1{position:absolute;top:88.44px;left:96.75px;animation:cloud-animation-90px 20s infinite ease-in-out;}
.cloud2{position:absolute;top:78px;right:576.45px;animation:cloud-animation-120px 20s infinite ease-in-out;}
.cloud3{position:absolute;top:426.58px;left:20.75px;animation:cloud-animation-120px 20s infinite ease-in-out;}
.cloud4{position:absolute;bottom:0;right:50.41px;animation:cloud-animation-45px 20s infinite ease-in-out;}
.mountains{>img{width:1266px;height:975px;}}
.background{width:100%;height:100vh;overflow:hidden;position:relative;z-index:1;}
.auth{background-color:#B3DAF6;width:100%;height:100vh;}
.nature{>img{width:2111px;height:946px;margin-bottom:-200px;}}
.nature{display:flex;justify-content:center;align-items:end;width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
#cabinet{background-color:#B3DAF6;width:100%;height:100vh;}
#cabinet_container{position:absolute;z-index:2;display:flex;justify-content:start;align-items:center;top:0;left:0;flex-direction:column;width:100vw;height:100vh;overflow-y:scroll;gap:120px;overflow-x:hidden;}
#cabinet_container::-webkit-scrollbar{display:none;}
#user_container{width:880px;height:130px;display:flex;flex-direction:row;align-items:center;justify-content:space-between;margin-top:-50px;border-radius: 120px 50px 50px 120px;border:2px solid var(--black,#101010);background:rgba(255,255,255,0.30);backdrop-filter:blur(10px);}
#user_picture{z-index:3;border:solid 2px;border-radius:50%;width:180px;height:180px;background-color:orange;}
#user{display:flex;flex-direction:column;align-items:start;font-size:32px;font-family:'Unbounded',sans-serif;overflow-x:scroll;width:fit-content;max-width:400px;}
#name{display:flex;flex-direction:row;align-items:center;justify-content:center;gap:20px;}
#user::-webkit-scrollbar{display:none;}
#name:hover{cursor:default;}
#real_name{font-size:18px;color:#DD403F;font-family:'Bainsley',sans-serif;}
#tags{list-style-type:none;padding-right:20px;display:flex;align-items:end;flex-direction:column;gap:5px;overflow-y:scroll;height:97.6px;padding-left:0;margin:0;}
#tags::-webkit-scrollbar{display:none;}
.tag{font-family:'Bainsley',sans-serif;color:#934AF7;border-radius:36px;border:1.2px solid var(--black,#101010);background:rgba(237,225,225,0.50);padding:3px 7px;width:fit-content;cursor:default;}
.data_container{border-radius: 50px;border:2px solid var(--orange,#FBB800);background:rgba(255,255,255,0.30);backdrop-filter:blur(10px);width:800px;height:fit-content;display:flex;flex-direction:row;justify-content:space-between;padding:50px 40px;gap:30px;position:relative;}
.data_block{width:345px;border-radius:28px;backdrop-filter:blur(2px);padding:20px 40px;box-sizing:border-box;flex-direction:row;display:flex;justify-content:start;flex-wrap:wrap;font-family:'Bainsley',sans-serif;font-size:18px;gap:16px;}
.data_header{font-size:28px;font-family:'Unbounded',sans-serif;width:100%;display:flex;justify-content:start;}
.data_section{display:flex;flex-direction:column;gap:10px;}.data{display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:start;width:100%;height:50px;align-items:center;gap:5px;}
.skill{border-radius:36px;background:var(--purple,#934AF7);padding:3px 15px;}
#background_container{position:fixed;width:100vw;height:100vh;top:0;left:0;}
.link{display:flex;flex-direction:row;align-items:center;gap:5px;}
#edit_button{position:absolute;font-size:14px;display:flex;color:#000;justify-content:center;align-items:center;padding:7px;z-index:4;top:-18px;right:15%;border-radius:50px;border:2px solid var(--orange, #FBB800);background:rgba(255, 255, 255, 1);backdrop-filter:blur(10px);font-family:'Unbounded',sans-serif;transition:0.2s ease-in;}
#edit_button:hover{color:#fff;background-color:#FBB800;transition:0.3s ease-out;}
.data_button{position:absolute;font-size:14px;display:flex;color:#000;justify-content:center;align-items:center;padding:7px;z-index:4;top:-18px;left:8%;border-radius:50px;border:2px solid var(--orange, #FBB800);background:rgba(255, 255, 255, 1);backdrop-filter:blur(10px);font-family:'Unbounded',sans-serif;transition:0.2s ease-in;}
.idea_button{position:absolute;font-size:14px;display:flex;color:#000;justify-content:center;align-items:center;padding:7px;z-index:4;top:-18px;left:25%;border-radius:50px;border:2px solid #934AF7;background:rgba(255, 255, 255, 1);backdrop-filter:blur(10px);font-family:'Unbounded',sans-serif;transition:0.2s ease-in;}
.data_button:hover{color:#fff;background-color:#FBB800;transition:0.3s ease-out;}
.idea_button:hover{color:#fff;background-color:#934AF7;transition:0.3s ease-out;}
.purple{border-color:#934AF7;}
.purple:hover{background-color:#934AF7;}
.yellow{border-color:#FBB800;}
.yellow:hover{background-color:#FBB800;}
.ideas_container{display:flex;flex-direction:column;gap:15px;width:100%;}
.idea_block{display:flex;flex-direction:row;justify-content:space-between;align-items:center;width:100%;cursor:default;}
.idea{width:80%;display:flex;flex-direction:column;align-items:start;justify-content:start;gap:10px;}
.idea_name{font-size:26px;font-family:'Unbounded',sans-serif;width:100%;margin:0;word-wrap:break-word;word-break:break-all;overflow-wrap:break-word;}
.idea_description{font-family:'Montserrat',sans-serif;word-wrap:break-word;word-break:break-all;overflow-wrap:break-word;}
.idea_tags{font-family:'Montserrat',sans-serif;margin:0;padding:0;display:flex;flex-wrap:wrap;gap:5px;}
.idea_tag{color:#FBB800;font-size:14px;}
.idea_tag:hover{color:purple;cursor:pointer;text-decoration-line:underline;}
.idea_interactables{display:flex;height:100%;flex-direction:column;justify-content:space-evenly;width:fit-content;}
.idea_interactable{font-size:24px;font-family:'Unbounded',sans-serif;display:flex;height:fit-content;width:60px;justify-content:space-between;align-items:center;>img:hover{cursor:pointer;}}
@media screen and (max-width:880px){
    #user_container{width:600px;}
    .data_container{width:600px;box-sizing:border-box;padding:40px 15px;gap:10px;}
    .data_block{width:100%;}
    #user{width:180px;}
    .idea_name{font-size:23px;}}
    #cabinet_container{gap:150px;}
@media screen and (max-width:600px){
    #name{flex-direction:column;gap:40px;width:50%;justify-content:space-between;margin-left:10px;}
    #user_container{height:200px;width:375px;align-items:end;padding-bottom:20px;box-sizing:border-box;border-radius:30px;}
    #user_picture{width:150px;height:150px;margin-left:186px;}
    #user{font-size:24px;text-wrap:wrap;}
    #tags{width:50%;padding-right:10px;height:76px;}
    .data_container{flex-direction:column; max-width:100vw;width:375px;}
    .data_block{font-size:14px;}
    .link{>img{transform:scale(0.9);}}
    .data{>img{transform:scale(0.9);}}
    #real_name{font-size:14px;}
    .tag{font-size:14px;}
    .data_header{font-size:23px;}
    .data_button{font-size:12px;}
    .idea_button{font-size:12px;left:32%;}
    #edit_button{font-size:12px;}
    .idea_name{font-size:17px;}
    .idea_description{font-size:13px;}
    .idea_tag{font-size:12px;}
    .idea_interactable{>img{transform:scale(0.8);};font-size:18px;}}
@media screen and (max-width:375px){
    #user_container{width:100%;border-radius:0;border-left:0;border-right:0;}
    #tags{padding-right:3px;}
    .data_container{border-radius:0;border-left:0;border-right:0;border-bottom:0;padding:30px 20px 40px 20px;}
    .data_block{font-size:13px;}
    #real_name{font-size:12px;}
    #user{font-size:20px;}
    .tag{font-size:12px;}
    .data{>img{transform:scale(0.8);}}
    .link{>img{transform:scale(0.8);}}
    #user_picture{margin-left:160px;}}