.sidebar_slider{margin-left:-30px;width:50px;height:50px;display:flex;justify-content:center;align-items:center;background-color:#5FA9DC;border-radius:50%;z-index:11;cursor:pointer;}
.sidebar{z-index:10;display:flex;height:100%;width:300px;flex-direction:row;align-items:center;position:fixed;top:0;left:-250px;overflow:hidden;font-family:'Bainsley',sans-serif;transition: transform 0.5s ease-in-out;}
.sidebar_container{border-radius:0px 30px 30px 0px;border:1px solid #FFF;background:rgba(255, 255, 255, 0.30);backdrop-filter:blur(10px);height:100%;width:280px;padding-left:20px;display:flex;flex-direction:column;justify-content:space-between;padding-bottom:20px;}
.logo_container{width:260px;margin-left:-10px;height:125px;}
.nav_link{display:flex;justify-content:start;gap:5px;align-items:center;font-size:28px;color:#934AF7;-webkit-text-stroke:1px #101010;}
.nav{list-style-type:none;padding:0;margin:0;display:flex;flex-direction:column;gap:15px;}
.nav_logo{width:45px;height:45px;}
.bottombar_container{display:none;}
.topbar{display:none;}
@keyframes side-slide-animation{0%{}50%{transform:rotate(180deg);}100%{transform:rotate(180deg);}}
@keyframes side-slide-animation-reverse{0%{transform:rotate(180deg);}50%{transform:rotate(0);}100%{transform:rotate(0);}}
@media screen and (max-width:768px) {
    .sidebar_container{display:none;}
    .sidebar_slider{display:none;}
    .sidebar{width:100vw;height:70px;left:0;top:0;}
    .topbar{width:100%;height:69px;border-radius:0 0 36px 36px;border:solid 1px #fff;display:flex;justify-content:center;align-items:center;background:rgba(255, 255, 255, 0.3);backdrop-filter:blur(10px);}
    .topbar_container{height:fit-content;width:85%;display:flex;justify-content:space-between;align-items:center;}
    .profile_top{display:flex;align-items:center;font-size:28px;color:#934AF7;-webkit-text-stroke:1px #101010;gap:5px;cursor:pointer;}
    .bottombar_container{z-index:10;position:fixed;bottom:0;left:0;height:70px;width:100%;display:flex;justify-content:space-evenly;backdrop-filter:blur(10px);background-color:rgba(255,255,255,0.3);border-radius:36px 36px 0 0;align-items:center;}
    .bottom_icon{width:50px;height:50px;}
    .boys_with_kites{display:none;}
    .topbar_logo{width:130px;height:62.5px;}
    .hub_window{z-index:7;width:100%;box-sizing:border-box;position:fixed;top:70px;bottom:70px;backdrop-filter:blur(5px);height:fit-content;}
    .hub_wrapper{display:flex;overflow-y:scroll;width:100%;align-items:center;height:85vh;min-height:1000px;flex-direction:column;gap:10px;padding:20px 60px 1000px 60px;box-sizing:border-box;overflow-x:hidden;}
    .hub_window::-webkit-scrollbar{display:none;}
    .hub_title{font-size:64px;font-family:'Exo 2';}
    .hub_links{border:solid 1px #FFF;border-radius:36px;padding:20px 0;justify-content:space-evenly;width:100%;flex-direction:row;display:flex;background-color:rgba($color: #fff, $alpha: 0.3);backdrop-filter:blur(10px);}
    .hub_link{display:flex;justify-content:start;align-items:center;flex-direction:column;width:81.5px;height:130px;padding:10px 0;>p{font-family:'Bainsley',sans-serif;font-size:24px;-webkit-text-stroke:1px #000;color:#934AF7;word-wrap:break-word;text-align:center;}}
    .hub_link_img{width:71.5px;height:71.5px;border-radius:24px;background-color:#FBB800;box-shadow: 0 0 0 5px #FBB800;}
    .hub_event{font-family:'Unbounded',sans-serif;font-size:22px;display:flex;flex-direction:column;justify-content:center;align-items:center;width:fit-content;
    height:fit-content;padding:20px 15px;box-sizing:border-box;border-radius:24px;border:solid 1px #fff;align-self:center;background-color:rgba($color: #fff, $alpha: 0.3);backdrop-filter:blur(10px);}
    .hub_teams{background-color:rgba($color: #fff, $alpha: 0.3);backdrop-filter:blur(10px);width:100%;padding:20px 15px;display:flex;flex-direction:column;align-items:start;border-radius:24px;border:solid 1px #fff;box-sizing:border-box;overflow-x:hidden;>h2{font-family:'Exo 2';font-size:30px;}}
    .hub_teams_list{padding:20px 0;width:100%;flex-direction:row;display:flex;overflow-x:scroll;gap:15px;}
    .hub_teams_list::-webkit-scrollbar{display:none;}
    .hub_ideas_container{background-color:rgba($color: #fff, $alpha: 0.3);backdrop-filter:blur(10px);border:1px solid #fff;border-radius:12px;padding:7px;display:flex;flex-direction:column;width:100%;gap:15px;>h2{font-family:'Exo 2';font-size:30px;}}
}
@media screen and (max-width:426px) {
    .topbar_logo{width:88px;height:42.15px;}
    .profile_top{font-size:22px;>img{transform:scale(0.85);}}
    .bottom_icon{width:35px;height:35px;}
    .bottombar_container{border-radius:0;border:0;border-top:1px solid #fff;}
    .topbar{border-radius:0;}
    .hub_title{font-size:18px;}
    .hub_links{padding:10px 0;box-sizing:content-box;}
    .hub_link{width:56.5px;padding:5px 0;height:85px;>p{font-size:15px;-webkit-text-stroke:0.4px;};border-radius:14px;}
    .hub_link_img{width:48.5px;height:48.5px;padding:3px 0;}
    .hub_event{font-size:15px;}
}
@media screen and (max-width:375px) {
    .hub_link{width:36.5px;height:65px;>p{font-size:12px;}}
    .hub_link_img{width:34.5px;height:34.5px;padding:2px 0;}
}